@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
}

.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 130px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner-Section */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #131313;
    line-height: normal;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #727272;
    margin: 1.8rem 0;
}

.banner-img img {
    width: 100%;
}

/* main section */

main {
    width: 1440px;
    margin: 70px auto;
}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;
    padding: 50px 130px;
    justify-content: center;
}

.teams-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-images-container img {
    width: 100%;
    border-radius: 10px;
}

.teams-content {
    width: 700px;
    padding-left: 50px;
    padding-right: 60px;
}
.teams-title {
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .feature {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin-bottom: 3rem;
}

/* facts section */

.facts{
    margin: 50px 130px;
}
.facts-title{
    font-size: 45px;
    margin-bottom: 24px;
    font-weight: 700;
    color: #131313;
}
.facts-description{
    width: 542px;
    height: 52px;
}

.facts-container{
    display: flex;
    justify-content: space-around;
}
.facts-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;
}
.facts-container .card-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
}




/* responsive style */

/* Mobile devices */

@media screen and (max-width: 576px) {
    .header {
        padding: 30px;
    }

    nav {
        flex-direction: column;
    }
    .nav-title{
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .teams-images-container img{
        width: 342px;
        height: 342px;
    }
    .teams-content{
        width: 342px;
        padding: 0;
        margin-top: 50px;
    }

    .banner-title {
        font-size: 2rem;
    }
    .teams-container{
        flex-direction: column;
        padding: 0 30px;
    }
    main{
        width: 100%;
    }
    .teams-images-container{
        grid-template-columns: 1fr;
    }
}

/* tablet or Medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .header {
        padding: 50px;
    }

    nav, .teams-container {

        flex-direction: column;
    }
    main{
        width: 100%;
    }

    .nav-title {
        margin-bottom: 2rem;
    }

    .banner-title {
        font-size: 2.8rem;
    }
    .teams-content{
        width: 100%;
        padding: 30px;
    }
    .teams-container{
        padding: 30px;
    }
}